@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap";

.widthLimit {
  max-width: 1052px !important;
}

h1, h2, h3 {
  color: $primary;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}

.detailBox {
  background: #2e2e33;

  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-title, .modal-body {
  color: black;
}

.mouseHover {
  cursor: pointer;
}

.instructions {
  background-color: #333333;
  padding: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.question-settings {
  background-color: #333333;
  padding: 6px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 2px dotted #ee4d2e;

  .settings-label {
    background-color: #ee4d2e;
    color: white;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    text-align: center;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
}

.bg-settings {
  background-color: #40474e;
}
